# Ignore Maven build directories
/target/

# Ignore IDE and editor files
.idea/
/.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore Java class files
*.class

# Ignore jar files
*.jar
